.DS_Store
.swp
.bak
cscope.*
*.orig
*.patch

build
*_build
cmake-build*
.idea
.vscode
.cache

*.log
*.jou
.settings
.cproject
.project

doctrees
docs/output/*
docs/en/boards/*
docs/en/samples/*
docs/en/components/*
docs/en/html/*
docs/en/_static/*
docs/en/CHANGELOG.md
docs/zh/boards/*
docs/zh/samples/*
docs/zh/components/*
docs/zh/html/*
docs/zh/_static/*
docs/zh/CHANGELOG.md
docs/*/docs
docs/cmake_intro.rst

segger_embedded_studio
*.pyc
sec_core_img.c
*.o
.cursorignore
.cursor
